<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/font-awesome.min.css" rel="stylesheet">
        <link href="../../css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="col-xs-12">
            <div id="f-add-skill">
                <p>Add/Modify your skills:</p>
                
                <div class="title">
                    <div class="first">Skill</div>
                    <div>Level</div>
                </div>
                <ul>
                    <li class="first">
                        <div>PHP</div>
                        <input value=0.5 />
                        <a href="#"><span class="fa fa-arrow-circle-up fa-2x"></span></a>
                        <a href="#"><span class="fa fa-arrow-circle-down fa-2x"></span></a>
                        <a href="#"><span class="fa fa-remove fa-2x"></span></a>
                    </li>
                    <li>
                        <div>Javascript</div>
                        <input value=0.5 />
                        <a href="#"><span class="fa fa-arrow-circle-up fa-2x"></span></a>
                        <a href="#"><span class="fa fa-arrow-circle-down fa-2x"></span></a>
                        <a href="#"><span class="fa fa-remove fa-2x"></span></a>
                    </li>
                    <li>
                        <div>HTML/CSS</div>
                        <input value=0.5 />
                        <a href="#"><span class="fa fa-arrow-circle-up fa-2x"></span></a>
                        <a href="#"><span class="fa fa-arrow-circle-down fa-2x"></span></a>
                        <a href="#"><span class="fa fa-remove fa-2x"></span></a>
                    </li>
                </ul>
                <div class="title">
                    <input class="left" placeholder="Skill"/>
                    <input class="right" placeholder="0" />
                    <a href="#"><span class="fa fa-plus fa-2x"></span></a>
                </div>
                
                <p class="remark">(*) Level is between 0 and 1.</p>
                <button class="btn btn-success">Update</button>
            </div>
        </div>
        <!--Scripts-->
        <script src="../../js/jquery-1.11.2.min.js"></script>
        <script src="../../js/jquery.scrollTo.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/react/react.js"></script>
        <script src="../../js/react/JSXTransformer.js"></script>
        <script src="../../js/functions.js"></script>
    </body>
</html>